@font-face {
  font-family:angel-tears;
  src:url('../fonts/angel_tears.otf');
}
@font-face {
  font-family:some-time-later;
  src:url('../fonts/some_time_later.otf');
}
@font-face {
  font-family:mechanization;
  src:url('../fonts/Mechanization.ttf');
}
@font-face {
  font-family:college-block;
  src:url('../fonts/College Block.otf');
}
@font-face {
  font-family:metal-macabre;
  src:url('../fonts/MetalMacabre.ttf');
}
@font-face {
  font-family:you-murderer;
  src:url('../fonts/youmurderer.ttf');
}
@font-face {
  font-family:trashco;
  src:url('../fonts/trashco.ttf');
}
@font-face {
  font-family:helsingfurt;
  src:url('../fonts/helsingfurt.ttf');
}
@font-face {
  font-family:extra-ornamental;
  src:url('../fonts/extraornamental.ttf');
}
@font-face {
  font-family:vampire;
  src:url('../fonts/vampire.ttf');
}
@font-face {
  font-family:action-jackson;
  src:url('../fonts/actionjackson.ttf');
}
@font-face {
  font-family:alba;
  src:url('../fonts/alba.ttf');
}
@font-face {
  font-family:viking;
  src:url('../fonts/viking.ttf');
}
@font-face {
  font-family:barbatrick;
  src:url('../fonts/barbatrick.ttf');
}
@font-face {
  font-family:frozen-crystal;
  src:url('../fonts/frozencrystal.ttf');
}
@font-face {
  font-family:beyond-control;
  src:url('../fonts/beyondcontrol.ttf');
}
@font-face {
  font-family:cowboys;
  src:url('../fonts/cowboys.ttf');
}
@font-face {
  font-family:firley;
  src:url('../fonts/firley.ttf');
}
@font-face {
  font-family:air;
  src:url('../fonts/air.ttf');
}
@font-face {
  font-family:high-speed;
  src:url('../fonts/highspeed.ttf');
}
@font-face {
  font-family:paisley-caps;
  src:url('../fonts/paisleycaps.ttf');
}
@font-face {
  font-family:agent-red;
  src:url('../fonts/agentred.ttf');
}
@font-face {
  font-family:blox;
  src:url('../fonts/blox.ttf');
}
@font-face {
  font-family:sketch3d;
  src:url('../fonts/sketch3d.otf');
}